@model Aroma_Violet.Models.BankingDetail

<div>
    <h4>BankingDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AccountHolder.AccountHolderName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountHolder.AccountHolderName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountType.AccountTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountType.AccountTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bank.BankName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bank.BankName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Branch.BranchName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Branch.BranchName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.ClientInitials)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.ClientInitials)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountHolderOtherDetail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountHolderOtherDetail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Initials)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Initials)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailContact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailContact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkContact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkContact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeContact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeContact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CellContact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CellContact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommencementDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommencementDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalaryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalaryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

    </dl>
</div>
