@model Aroma_Violet.Models.Client

@{
    ViewBag.Title = "Details";
    var contactInfo = ViewBag.ContactInfo;
}

<h2>Details</h2>

<table>
    <tr>
        <th><h4>Client</h4></th>
        <th><h4>Subscriptions</h4></th>
    </tr>
    <tr>
        <td rowspan="2">
            <div>

                <hr />
                <dl class="dl-horizontal">

                    <dt>
                        @Html.DisplayNameFor(model => model.Active)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Active)
                    </dd>
                    <dt>
                        <label>Reseller / Distributor Code</label>
                    </dt>

                    <dd>
                        @ViewBag.ResellerID
                    </dd>
                    <dt>
                        <label>Client Code</label>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ClientId)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ClientInitials)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ClientInitials)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Title.TitleName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Title.TitleName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.FullNames)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FullNames)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.NickName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.NickName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ClientSurname)
                    </dt>

                    <dt>
                        @Html.DisplayNameFor(model => model.IDNumber)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IDNumber)
                    </dd>
                    <dd>
                        @Html.DisplayFor(model => model.ClientSurname)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ClientType.ClientTypeName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ClientType.ClientTypeName)
                    </dd>


                    @foreach (var nfo in contactInfo)
                    {
                        <dt>
                            @nfo[0]
                        </dt>

                        <dd>
                            @nfo[1]
                        </dd>
                    }
                    <dt>
                        @Html.DisplayNameFor(model => model.CompanyName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CompanyName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.RegistrationNumber)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.RegistrationNumber)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Language.LanguageName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Language.LanguageName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Employer)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Employer)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DateOfBirth)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DateOfBirth)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.EthnicGroup.EthnicGroupName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.EthnicGroup.EthnicGroupName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.IncomeGroup.IncomeGroupName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IncomeGroup.IncomeGroupName)
                    </dd>


                    <dt>
                        @Html.DisplayNameFor(model => model.SAResident)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SAResident)
                    </dd>


                    <dt>
                        @Html.DisplayNameFor(model => model.PostalAddress)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PostalAddress)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DeliveryAddress)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DeliveryAddress)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Province.ProvinceName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Province.ProvinceName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Country.CountryName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Country.CountryName)
                    </dd>

                </dl>
            </div>
        </td>
        <td>
            <div>
                @Html.Partial("ClientSubscriptions", Model.ClientSubscriptions.Where(m=>m.Active))
            </div>
        </td>
    </tr>
@foreach (var detail in Model.BankingDetails)
{
    <tr>
        <td>@Html.Partial("BankingDetails", detail)</td>
    </tr>
}
</table>

<p>
@if (User.IsInRole("User"))
{
    <div>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ClientId }) |
        @Html.ActionLink("Back to List", "Index")|
        @Html.ActionLink("Send SMS", "Manage", "SystemSMS", new { clientId = Model.ClientId }, htmlAttributes:null)|
        @Html.ActionLink("Test SMS Template", "Index", "SystemSMSTemplates", new { clientId = Model.ClientId }, htmlAttributes: null)|
        @Html.ActionLink("View Orders", "Index", "OrderHeaders", new { clientId = Model.ClientId }, htmlAttributes: null)|
        @Html.ActionLink("Account Movement", "Index", "AccountMovement", new { clientId = Model.ClientId }, htmlAttributes: null)
    </div>
}
</p>
