@model Aroma_Violet.Models.SystemIntervalSpecifier

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SystemIntervalSpecifier</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IntervalSpecifierName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IntervalSpecifierName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MilisecondConverter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MilisecondConverter)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IntervalSpecifierId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
