@model IEnumerable<Aroma_Violet.Models.SystemIntervalSpecifier>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IntervalSpecifierName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MilisecondConverter)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IntervalSpecifierName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MilisecondConverter)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IntervalSpecifierId }) |
            @Html.ActionLink("Details", "Details", new { id=item.IntervalSpecifierId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IntervalSpecifierId })
        </td>
    </tr>
}

</table>
