@model Aroma_Violet.Models.PostalCodePostageCharge

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Postal Code Postage Charge</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PostageCharge.PostageChargeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostageCharge.PostageChargeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostalCode.PostalCodeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalCode.PostalCodeName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PostalCodePostageChargeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
