@model IEnumerable<Aroma_Violet.Models.PickingListHeader>

@{
    ViewBag.Title = "Index";
    KeyValuePair<int, int[]>[] sClientIds = ViewBag.ClientIds;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Client(s)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShippingMethod.ShippingMethodName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShippingType.ShippingTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShippedDate)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @foreach (var v in sClientIds.Where(m => m.Key == item.PickingListHeaderId).First().Value)
            {
                <text>@v </text>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShippingMethod.ShippingMethodName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShippingType.ShippingTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PickingDate)
        </td>
        
           @if (item.ShippedDate.HasValue)
           {
               <td>@Html.DisplayFor(modelitem=>item.ShippedDate.Value)</td>
           }
           else
           { <td></td>}


        <td>
            @Html.ActionLink("Details", "Details", new { id=item.PickingListHeaderId }) 
        </td>
    </tr>
}

</table>
