@model IEnumerable<Aroma_Violet.Models.AddressLine>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Address.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddressLineText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Address.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddressLineText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AddressLineId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AddressLineId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AddressLineId })
        </td>
    </tr>
}

</table>
