@model IEnumerable<Aroma_Violet.Models.SystemSMSTemplate>

@{
    ViewBag.Title = "Index";
    int clientId = 0;
    if (ViewBag.ClientID != null)
    {
        clientId = ViewBag.ClientID;
    }
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new {  clientId = clientId })
</p>
<table class="table">
    <tr>
        <th colspan="2">
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th colspan="7">
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            Count
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td colspan="2">
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td colspan="7">
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Text.Length)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            
            @if (clientId > 0)
            {
                <div>
                    @Html.ActionLink("Edit with Preview", "Edit", new { id = item.SystemSMSTemplateId, clientId = clientId })
                </div>
            }
            else
            {
                <div>
                    @Html.ActionLink("Edit", "Edit", new { id = item.SystemSMSTemplateId })
                </div>
            }
        </td>
    </tr>
}

</table>
