@model Aroma_Violet.Models.SystemMenuList

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SystemMenuList</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RoleId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SystemMenuListItemId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SystemMenuListItemId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SystemMenuListId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
