<!DOCTYPE html>

<html>
<head>
   
   
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Novus</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @*<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>*@
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.js"></script>
</head>
<body>
   
    

    @*<script type="text/javascript">
    $(function () { // will trigger when the document is ready
        $('.datepicker').datepicker(); //Initialise any date pickers
        $("#datepicker").datepicker();
    });
    </script>*@

    <div class="navbar navbar-inverse navbar-fixed-top" id="Nav">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Novus", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.IsInRole("Administrator"))
                    {
                    <li>@Html.ActionLink("Admin", "Index", "Administrator")</li>
                    }
                    @if (User.IsInRole("User"))
                    {
                        <li>@Html.ActionLink("User", "Index", "User")</li>
                    }
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @*<li>@Html.ActionLink("About", "About", "Home")</li>*@
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                   
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    
    <div class="container body-content">
        @RenderBody()
    </div>
    
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
 
</body>
</html>


<script type="text/javascript">
    $(function () { // will trigger when the document is ready
        $('.datepicker').datepicker({
            format: "dd/mm/yyyy"
        }); //Initialise any date pickers
    });

    function SetVisible(id, bVal) {
        var element = document.getElementById(id);
        if (!bVal) {
            element.style.display = 'none';
        }
        else {
            element.style.display = 'block';
        }

    }
    function UpdateDateTime(key) {
        var day = document.getElementById('d' + key);
        var month = document.getElementById('m' + key);
        var year = document.getElementById('y' + key);
        var newValue = day.value + '/' + month.value + '/' + year.value + ' 00:00:00';
        var dateTime = document.getElementById(key);
        //alert(dateTime.value);
        //alert(newValue);
        dateTime.value = newValue;
    }
    
    function callServerMethod(clientData, url, responceElement) {
        data = JSON.stringify(clientData);

        var ret = 'wtf';

        $.ajax({
            url: url,
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: data,
            async: false,
            success: function (rdata) {
                if (responceElement != '') {
                    var elementPreview = document.getElementById(responceElement);
                    elementPreview.innerHTML = rdata;
                }
                ret = rdata;
            },
            error: function () {
                if (responceElement != '') {
                    var elementPreview = document.getElementById(responceElement);
                    elementPreview.innerHTML = 'Opperation failed';
                }
                ret = 'Failed';
            }
        });
        return ret;
    }

    function Email(clientId, tagName, subject) {
        var html = document.getElementById(tagName).innerHTML;
        var clientData = {
            clientId: clientId,
            subject: subject,
            html: html
        }
        var responceElement = "ResponseNode";

        var url = '@Url.Action("CreateSnapshotAndMail", "EmailTemplates")';
        callServerMethod(clientData, url, responceElement);
    }
</script>