@model Aroma_Violet.Models.DebitOrder

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DebitOrder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AccountHolder.AccountHolderName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountHolder.AccountHolderName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountType.AccountTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountType.AccountTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bank.BankName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bank.BankName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Branch.BranchName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Branch.BranchName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.ClientInitials)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.ClientInitials)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountHolderOtherDetail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountHolderOtherDetail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Initials)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Initials)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DebitDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DebitDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SourceID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SourceID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.ProcessDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProcessDate)
        </dd>*@

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
