@model IEnumerable<Aroma_Violet.Models.DebitOrder>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AccountHolder.AccountHolderName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountType.AccountTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bank.BankName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Branch.BranchName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client.ClientInitials)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountHolderOtherDetail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Initials)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DebitDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SourceID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProcessDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AccountHolder.AccountHolderName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountType.AccountTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bank.BankName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Branch.BranchName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.ClientInitials)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountHolderOtherDetail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Initials)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DebitDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SourceID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProcessDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DebitOrderId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DebitOrderId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DebitOrderId })
        </td>
    </tr>
}

</table>
