@model IEnumerable<Aroma_Violet.Models.DebitOrder>

@{
    ViewBag.Title = "Index";
    var header = "";
    var fmt = "MMMM yyyy";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create Debit Orders", "RunDOCalc")|
    @Html.ActionLink("Approve", "Approve")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Initials)
        </th>
        <th colspan="2">
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th colspan="2">
            @Html.DisplayNameFor(model => model.Bank.BankName)
        </th>
        <th colspan="2">
            @Html.DisplayNameFor(model => model.AccountNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Branch.BranchCode)
        </th>
        <th colspan="2">
            @Html.DisplayNameFor(model => model.DebitDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        @*<th>
        @Html.DisplayNameFor(model => model.Active)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Created)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.ProcessDate)
    </th>*@
    <th colspan="3"></th>
    </tr>

@foreach (var item in Model.OrderByDescending(m=>m.DebitDate))
{
    var nhead = item.DebitDate.ToString(fmt);
    if (nhead != header)
    {
        header = nhead;
        <tr style="background:lightblue">
            <th colspan="14">@header</th>
        </tr>
    }
    <tr class="findisp">
        <td>
            @Html.DisplayFor(modelItem => item.Initials)
        </td>
        <td colspan="2">
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td colspan="2">
            @Html.DisplayFor(modelItem => item.Bank.BankName)
        </td>
        <td colspan="2">
            @Html.DisplayFor(modelItem => item.AccountNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Branch.BranchCode)
        </td>
        <td colspan="2">
            @Html.DisplayFor(modelItem => item.DebitDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        @*<td>
        @Html.DisplayFor(modelItem => item.Active)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Created)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ProcessDate)
    </td>*@
    <td colspan="3">
        @Html.ActionLink(linkText: "Subscription", actionName: "Manage", controllerName: "ClientSubscriptions", routeValues: new { ClientID = item.ClientID }, htmlAttributes: null) |
        @Html.ActionLink(linkText: "Edit", actionName: "Edit", controllerName: "DebitOrders", routeValues: new { id = item.DebitOrderId}, htmlAttributes: null) |
        @Html.ActionLink(linkText:"Delete",actionName: "Delete",controllerName: "DebitOrders", routeValues: new { id = item.DebitOrderId },htmlAttributes:null) 
    </td>
    </tr>
}

</table>
