@model Aroma_Violet.Models.EthnicGroup

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EthnicGroup</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EthnicGroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EthnicGroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EthnicGroupId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
