@model Aroma_Violet.Models.Address

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Address</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AddressType.AddressTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressType.AddressTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AddressId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
