@model Aroma_Violet.Models.Address

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Address</h4>
        <hr />
        @Html.HiddenFor(model=>model.ClientID)
        @Html.HiddenFor(model=>model.AddressTypeID)
        @Html.HiddenFor(model=>model.Active)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.AddressId)
@for (int i = 0; i < Model.Lines?.Count; i++)
{
    var daName = string.Format("Line{0}", i + 1);
         <div class="form-group">

            @Html.LabelFor(model => model.Lines.ToArray()[i].AddressLineText, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox(daName, Model.Lines.ToArray()[i].AddressLineText, htmlAttributes:new { @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.Lines.ToArray()[i], "", new { @class = "text-danger" })
            </div>
        </div>
}

        <div class="form-group">
            @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
            </div>
        </div>
        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Go To Client", "Edit", "Clients", new { id = Model.ClientID }, htmlAttributes: null) 
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
