@model Aroma_Violet.Models.BankingDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BankingDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AccountHolder.AccountHolderName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountHolder.AccountHolderName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountType.AccountTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountType.AccountTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bank.BankName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bank.BankName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Branch.BranchName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Branch.BranchName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cell.ContactName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cell.ContactName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.ClientInitials)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.ClientInitials)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email.ContactName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email.ContactName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Home.ContactName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Home.ContactName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Work.ContactName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Work.ContactName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountHolderOtherDetail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountHolderOtherDetail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Initials)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Initials)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommencementDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommencementDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalaryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalaryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Interval)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Interval)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BankingDetailId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
