@model Aroma_Violet.Models.BankingDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BankingDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AccountHolder.AccountHolderName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountHolder.AccountHolderName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BankingDetailId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
