@model Aroma_Violet.Models.PickingListDetail
   
@{ 

    //var check = Model;
}
    <tr class="rc-@Model.PickingListHeader.">
    @Html.HiddenFor(m => m.OrderLineId)
    @Html.HiddenFor(m => m.ProductID)
    @Html.HiddenFor(m => m.ClientID)
    @Html.HiddenFor(m => m.TotalItems)
    @Html.HiddenFor(m => m.PickingListHeaderId)
    @Html.HiddenFor(m => m.PickingListDetailId)
    @Html.HiddenFor(m => m.TrackingNumber)


    <td>@Html.DisplayFor(model => model.ClientID, new { @class = "form-control" })</td>
    <td>@Html.DisplayFor(model => model.Invoice, new { @class = "form-control" })</td>
    <td colspan="3">@Html.DisplayFor(model => model.Product.ProductName, new { @class = "form-control" })</td>
    <td>@Html.DisplayFor(model => model.TotalItems, new { @class = "form-control" })</td>
    <td>@Html.EditorFor(model => model.TransferQuantity, new { htmlAttributes = new { @class = "form-control" } })</td>
    <td>@Html.EditorFor(model => model.Active, new { htmlAttributes = new { @class = "form-control checkbox" } })</td>
</tr>

